@font-face {
	font-family: 'Dripicons';
    src: url(fonts/dripicons-v2.ttf);
}
@font-face {
	font-family: 'SF_Regular';
    src: url(fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
	font-family: 'SF_Bold';
    src: url(fonts/SF-Pro-Display-Bold.otf);
}